<div id="types_of_menu_5" class="back">
  <div class="container-fluid text-center">
    <h1>НАПОЇ</h1><br>

    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let drinks of Drinks" class="col-sm-4 fack text-center">

          <div class="thumbnail allDrinks">

            <a (click)="getId(drinks.id)"><img [src]=drinks.img alt=""  width="400" height="300"><br>
              Детальніше
            </a>

            <h2>{{drinks.name}}</h2>
            <h3>{{drinks.gram}}</h3>
            <h4>{{drinks.money}}</h4>

          </div>
        </div>

      </div>
    </div><br>

  </div>
  <br>
</div>
