<div id="content" class="back">

  <div class="container-fluid bg-grey">
      <h1 class="text-center">Контакти нашого ресторану</h1><br>

    <div class="row">
      <div class="col-sm-5">
        <p>Зверніться до нас і ми вам повідомимо детальнішу інформацію.</p>
        <p><span>НД-ЧТ: 12:00-00:00</span></p>
        <p><span>ПТ,СБ 12.00-04.00</span><br>
        <p><span class="glyphicon glyphicon-map-marker"></span> м. Жидачів, паркова дорога </p>
        <p><span class="glyphicon glyphicon-phone"></span> (044) 377-52-27</p>
        <p><span class="glyphicon glyphicon-phone"></span> (067) 506-83-35</p>

        <p><span class="glyphicon glyphicon-envelope"></span> vienceamore@gmail.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image of location/map -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20298.463383996364!2d30.406286428131093!3d50.509837186935684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd65681d14bb%3A0xa925e55a7fe6bc39!2z0JLQuNC90L7Qs9GA0LDQtNCw0YDRjCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1590067794540!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>
