<div id="content" class="back">

  <div class="container-fluid bg-grey">
      <h1 class="text-center">Контакти нашого ресторану</h1><br>

    <div class="row">
      <div class="col-sm-5">
        <p>Зверніться до нас і ми вам повідомимо детальнішу інформацію.</p>
        <p><span>НД-ЧТ: 12:00-00:00</span></p>
        <p><span>ПТ,СБ 12.00-04.00</span><br>
        <p><span class="glyphicon glyphicon-map-marker"></span> м. Жидачів, паркова дорога </p>
        <p><span class="glyphicon glyphicon-phone"></span> (044) 377-52-27</p>
        <p><span class="glyphicon glyphicon-phone"></span> (067) 506-83-35</p>

        <p><span class="glyphicon glyphicon-envelope"></span> vienceamore@gmail.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Image of location/map -->
  <img src="https://placehold.it/150x80?text=IMAGE" style="width:100%">

</div>
