<div class="back">
  <div class="container-fluid text-center">
    <h1>КОРПОРАТИВИ</h1><br>

    <div class="container-fluid">

      <div class="row">

        <div *ngFor="let corporateparties of Corporateparties" class="col-sm-4">
          <div class="panel">
            <div class="panel-body allCorporateparties">

              <span>
                <a (click)="getId(corporateparties.id)"><img [src]=corporateparties.img width="210" height="170" class="adaptive" alt="Image"></a>
              </span>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <br>
</div>
