<div class="footer" id="footer">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-10">
        <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tripadvisor"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="pay">
          <a href="#"><i class="fa fa-cc-visa"></i></a>
          <a href="#"><i class="fa fa-cc-mastercard"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
