#footer
  background: url("src/images/footer.png") no-repeat top
  margin: 20px -200px 30px -200px
  padding: 80px 200px 0 200px

a
  color: #70726F
  font-size: 30px
  padding: 10px
  transition: all .5s ease

.pay
  margin: 0 0 0 0

.icons
  margin: 0 0 0 20px
