<div class="footer" id="footer">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-10">

        <div id="nav_icons_soc">

          <ul>
            <li>

              <div class="row">
                <div class="col-sm-3 facebook">
                  <a href="#" target="_blank">
                    &nbsp;
                  </a>
                </div>

                <div class="col-sm-3 instagram">
                  <a href="#" target="_blank">
                    &nbsp;
                  </a>
                </div>

                <div class="col-sm-3 tripadvisor">
                  <a href="#" target="_blank">
                    &nbsp;
                  </a>
                </div>

                <div class="col-sm-3 four">
                  <a href="#" target="_blank">
                    &nbsp;
                  </a>
                </div>
              </div>

            </li>

          </ul>

        </div>
      </div>


      <div class="col-sm-2">
        <div class="pay">
          <a href="#" target="_blank">
            &nbsp;
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
