<header>

  <div class="container">
    <div class="row">

      <div class="col-sm-3">

        <div id="tel">
          <div class="tel-addr">м. Жидачів, Паркова дорога, 7</div>
          <ul class="tel-list">
            <li><a href="tel:+380443775227">(098) 377-52-27</a></li>
            <li><a href="tel:+380675068335">(068) 506-83-35</a></li>
          </ul>
          <a routerLink="order-table" class="zakaz-stola">Забронювати столик</a>
        </div>

      </div>
      <div class="col-sm-6">
        <div id="logo">
          <a routerLink="/"></a>
        </div>
      </div>

      <div class="col-sm-3"></div>

    </div>
  </div>

</header>
<app-nav-bar></app-nav-bar>
