<div id="content" class="back">
  <div class="title">
    <h1>Галерея</h1>
  </div>
  <div class="ngg-galleryoverview">

    <div id="ngg-image-0" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title=""></a>
      </div>
    </div>


    <div id="ngg-image-1" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>


    <div id="ngg-image-2" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>


    <div id="ngg-image-3" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>


    <div id="ngg-image-4" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>


    <div id="ngg-image-5" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>


    <div id="ngg-image-6" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>



    <div id="ngg-image-14" class="ngg-gallery-thumbnail-box">
      <div class="ngg-gallery-thumbnail">
        <a href="" title="">

        </a>
      </div>
    </div>

  </div>

</div>
