<div class="entry back">

  <h1>Vience Amore — м’ясний ресторан у парку</h1>
  <p>
    Vience Amore — м’ясний ресторан в Жидачеві з кращими кулінарними традиціями! Меню ресторану — це вдалий симбіоз
    найбільш популярних в Україні страв різних кухонь світу. Холодні та гарячі закуски, салати, карпачо і тартари, піца,
    роли, паста та равіолі, фірмові десерти — меню Vience Amore легко задовольнить гастрономічні запити сучасного
    гурмана. І все ж основний акцент зроблений на стравах з м’яса, приготованих на мангалі і в хоспері. Стейки, кебаби,
    шашлики — вибір дуже великий! Це один із небагатьох м’ясних закладів столиці України, де кожен гість знайде щось для
    себе!
  </p>
  <p>
    Vience Amore — сімейний ресторан, який стане також ідеальним місцем для весіль, банкетів, корпоративних заходів.
    Стильний світлий інтер’єр двоповерхової будівлі з великими панорамними вікнами доповнений дизайнерськими люстрами з
    ложок і чайних чашок і відкритою кухнею, на якій кожен день можна спостерігати за справжнім гастрономічним шоу!
  </p>
  <p>
    У нас відмінна локація: в затишному парку, біля набережної Дніпра. Створюється враження, що ви перебуваєте далеко
    від мегаполісу, один на один з природою. До нас люблять приїжджати з дітьми — прекрасне розташування, смачне і
    корисне дитяче меню припало до душі всім мамам! Ось чому ресторан Vience Amore став по-справжньому сімейним
    рестораном!</p>
</div>

<!--TODO-->
{{allPlanets | json}}
