<div class="back">
  <div class="container-fluid text-center">
    <h1>ВЕСІЛЛЯ</h1><br>

    <div class="container-fluid">

      <div class="row">

        <div *ngFor="let weddings of Weddings" class="col-sm-4">
          <div class="panel">
            <div class="panel-body allWeddings">

              <a (click)="getId(weddings.id)"><img [src]=weddings.img width="400" height="300" class="img-responsive" alt="Image">
              </a>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <br>
</div>
