<div id="content" class="back">
  <h1 class="title">
    Новини </h1>

  <div class="news_item">
    <a href=""><img src="" width="150" alt="Ресторан Vience Amore призупиняє свою роботу"></a>
    <a href="">Ресторан Vience Amore призупиняє свою роботу</a>
    <span>19.03.2020</span>


    З 17 березня та попередньо по 24 квітня ресторан Vience Amore призупиняє свою роботу і йде на карантин.


    Сподіваємося, за цей час ситуація налагодиться, і ми зможемо жити та працювати у звичайному для нас ритмі.


  </div>

  <div class="news_item">
    <a href=""><img
      src="" width="150"
      alt="Пісне меню в Vience Amore"></a>
    <a href="">Пісне меню в Vience Amore</a>
    <span>02.03.2020</span>

    Запрошуємо вас на пісне меню, яке буде діяти весь Великий піст, з 2 березня по 18 квітня.


    Ми приготували для вас смачні та оригінальні закуски та салати, перші та основні страви, десерти. Постуйтесь
    легко!


    Детальне меню дивіться тут.&nbsp;


  </div>

  <div class="news_item">
    <a href=""><img
      src="" width="150"
      alt="8 Березня в Vience Amore"></a>
    <a href="">8 Березня в Vience Amore</a>
    <span>28.02.2020</span>

    Чекаємо вас, щоб разом відсвяткувати Міжнародний день всіх жінок!


    У нас буде все, що так люблять красуні: весняний настрій, оригінальна фотозона з професійним фотографом, welcome
    drink та приємні солодкі сюрпризи, найкращі весняні хіти під чарівний вокал Олесі Фаліної.


    Влаштуємо незабутнє свято!


    Бронь: (044) 377-52-27(067) 506-83-35


  </div>
</div>

