<div id="types_of_menu_4" class="back">
  <div class="container-fluid text-center">
    <h1>ВИНА ТА ШАМПАНСЬКЕ</h1><br>

    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let wines of Wines" class="col-sm-4 fack text-center">

          <div class="thumbnail allWines">

            <a (click)="getId(wines.id)"><img [src]=wines.img alt=""  width="400" height="300"><br>
              Детальніше
            </a>

            <h2>{{wines.name}}</h2>
            <h3>{{wines.gram}}</h3>
            <h4>{{wines.money}}</h4>

          </div>
        </div>

      </div>
    </div><br>

  </div>
  <br>
</div>
