<div id="types_of_menu_4" class="back">
  <div class="container-fluid text-center">

    <div class="row">
      <div class="col-xs-4"><br>
        <div class="form-group">
          <label>
            <input type="text" class="form-control" placeholder="Пошук" [(ngModel)]="term">
          </label>
        </div>
      </div>
      <div class="col-xs-4">
        <h1>ВИНА ТА ШАМПАНСЬКЕ</h1>
      </div>

      <div class="col-xs-4"><br>

        <div class="mb-3">

          <div class="btn-group" ngbRadioGroup [(ngModel)]="model">

            <label ngbButtonLabel class="btn btn-secondary btn-sm">
              <input ngbButton type="radio" [value]="-1">По замовчуванню
            </label>

            <label ngbButtonLabel class="btn btn-secondary  btn-sm">
              <input ngbButton type="radio" [value]="1">По зростанню
            </label>

            <label ngbButtonLabel class="btn btn-secondary btn-sm">
              <input ngbButton type="radio" [value]="0">По спаданю
            </label>

          </div>
        </div>

      </div>
    </div>
    <br>

    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let wines of Wines | filter:term | sorter:model" class="col-sm-4 fack text-center">

          <div class="thumbnail allWines">

            <a (click)="getId(wines.id)"><img [src]=wines.img alt=""  width="400" height="300"><br>
              Детальніше
            </a>

            <h2>{{wines.name}}</h2>
            <h3>{{wines.gram}}</h3>
            <h4>{{wines.money}} ₴</h4>

          </div>
        </div>

      </div>
    </div><br>

  </div>
  <br>
</div>
