<div id="content" class="back container-fluid">

  <div class="col-sm-6">
  <div class="title">
    <h1>Забронювати столик</h1>
  </div>

  <div class="article">
    <p>
      Залиште Ваш номер телефону і ім’я. Наш менеджер зв’яжеться з Вами найближчим часом для підтвердження
      замовлення.<br>
    </p>
    <div role="form">

      <form #records="ngForm" (ngSubmit)="success()" class="form">
        <div>
          <p>
            <label> Ваше ім'я*<br>
              <span>
                <input required [(ngModel)]="record.name" type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Введіть ім'я">
              </span>
            </label>
          </p>

          <p>
            <label> Ваш телефон*<br>
              <span>
                <input required [(ngModel)]="record.phone" type="tel" name="tel-865" size="40" aria-required="true" aria-invalid="false">
              </span>
            </label>
          </p>

          <p>
            <label> Вкажіть бажану дату<br>
              <span>
                <input required [(ngModel)]="record.date" type="date" name="date-212" value="" aria-invalid="false">
              </span>
            </label>
          </p>

          <p>
            <label> Час<br>
              <span>
                <input required [(ngModel)]="record.time" type="text" name="text-782" value="" size="40" aria-invalid="false" placeholder="12:00 - 04:00">
              </span>
            </label>
          </p>

          <p>
            <label> Кількість гостей<br>
              <span>
                <input required [(ngModel)]="record.quality" type="number" min="1" max="200" aria-invalid="false">
              </span>
            </label>
          </p>


          <p>
            <input required [disabled]="records.invalid || diss" type="submit" class="btn btn-success" value="Надіслати" width="200px">
          </p>
        </div>

        <div *ngIf="diss" class="alert alert-success">
          <strong>Успішно!</strong> Дякуємо! Очікуйте дзвінок адміністратора для підтвердження вашого резервування.
        </div>

      </form>
    </div>
    <p></p>
  </div>
  </div>

  <div class="col-sm-6">

    <div class="container-fluid">
      <br>
      <img src="" class="reservation img-responsive" width="100%" alt="">
    </div>

  </div>
</div>
