<div id="types_of_menu_2" class="back">
  <div class="container-fluid text-center">
    <h1>ЗАКУСКИ</h1><br>

    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let appetizer of Appetizers" class="col-sm-4 fack text-center">

          <div class="thumbnail allAppetizers">

            <a (click)="getId(appetizer.id)"><img [src]=appetizer.img alt=""  width="400" height="300"><br>
              Детальніше
            </a>

            <h2>{{appetizer.name}}</h2>
            <h3>{{appetizer.gram}}</h3>
            <h4>{{appetizer.money}}</h4>

          </div>
        </div>

      </div>
    </div><br>

  </div>
  <br>
</div>
