<div id="content" class="back">
  <div class="title">
    <h1>Про нас</h1>
  </div>
  <div class="article">

    <div class="row container-fluid">

      <div class="col-sm-4 vience">

      </div>

      <div class="col-sm-7">

        <p>
          Vience Amore вже давно став улюбленим місцем наших гостей, де вони обідають і вечеряють,
          відзначають важливі події та дати і просто відпочивають!
        </p>
        <h2>Ідеальне місцерозташування</h2>
        <p>У ресторану прекрасна локація — він розташований в центральному парку Жидачева, тут створюється враження,
          що ви перебуваєте десь за містом!</p>
        <p>Тут на вас чекає різноманітне меню, в якому ви знайдете найпопулярніші страви різних кухонь світу. Холодні та
          гарячі закуски, салати, карпачо і тартари, піца, роли, паста та равіолі, фірмові десерти — навіть найвимогливіший
          гурман залишиться задоволеним! А оскільки ресторан м’ясний, то ми здивуємо вас величезним вибором страв з м’яса,
          приготованих на мангалі і в хоспері. Стейки, кебаби, шашлики не залишать байдужими нікого!</p>
        <p>Ми також пишаємося своєю винною картою, яка представлена кращими напоями Італії, Іспанії, Франції, Аргентини, США.</p>
      </div>

    </div>

    <h2>Весілля і романтика</h2>
    <p>Красивий інтер’єр із зеленню і панорамними вікнами, смачний стейк, келих червоного. Наш заклад поєднав серця багатьох
      закоханих, у нас було зроблено величезну кількість пропозицій і прозвучала не менше щасливих відповідей «ТАК». Ми
      завжди раді бути причетними до історій кохання наших гостей: від першого побачення до весіль!</p>
    <p>До речі, про весілля: в Vience Amore є все для прекрасного торжества: чудові зали, літні тераси, спеціальне меню,
      караоке, і навіть зелені галявини для виїзної церемонії. А близькість закладу до води дозволяє провести романтичну
      фотосесію, не покидаючи Києва.</p>
    <h2>Найкраще — дітям!</h2>
    <p>Ми також подбали про наших маленьких гостей, для яких розробили дитяче меню — смачні, корисні страви, з
      оригінальною подачею. А дитячий майданчик поруч з рестораном дозволяє малюкам проявити активність після ситного
      обіду. Ось чому заклад так люблять батьки і часто влаштовують у нас дитячі свята.</p>
    <p>Ми відкриті і до проведення корпоративних заходів: багато компаній Києва вибирають Vience Amore, щоб відзначити
      Новий рік, день народження, призначити бізнес-зустрічі, провести семінари, конференції, неформальні наради.</p>
    <h2>З думками про гостей</h2>
    <p>Основні принципи нашої роботи — ідеальний смак страв, тепла атмосфера і безумовна гостинність. Сімейний обід,
      ділова зустріч, побачення, весілля — кожну подію ми постараємося зробити незабутньою і залишимо про неї тільки
      найкращі враження. Адже Vience Amore — це ресторан з душею!</p>
  </div>

</div>
