<div id="types_of_menu_2" class="back">
  <div class="container-fluid text-center">
    <h1>БАНКЕТИ</h1><br>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/weddings">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>ВЕСІЛЛЯ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/corporateparties">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>КОРПОРАТИВИ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/birthdays">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>ДНІ НАРОДЖЕННЯ</h2>
        </a>
      </div>

    </div>
  </div>
  <br>
</div>
