<div id="mob_types_of_menu" class="back">
  <ul style="margin-left:0">
    <!--<li><a href="/menyu/osnovne/"><img src="">
      <h2>ОСНОВНЕ</h2></a></li>
    <li><a href="/menyu/pisne-menyu/"><img src="">
      <h2>ПІСНЕ</h2></a></li>
    <li><a href="/menyu/dityache-menyu/"><img src="">
      <h2>ДИТЯЧЕ</h2></a></li>
    <li><a href="/menyu/menyu-ustric/"><img src="">
      <h2>УСТРИЦІ</h2></a></li>
    <li><a href="/menyu/banketne/"><img src="">
      <h2>БАНКЕТНЕ</h2></a></li>-->
  </ul>
</div>
