<div class="back">
  <div class="container-fluid text-center">
    <h1>МЕНЮ</h1><br>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/appetizers">
          <img src="" class="appetizers img-responsive" width="100%" alt="">
          <h2>ЗАКУСКИ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/maindishes">
          <img src="" class="maindishes img-responsive" width="100%" alt="">
          <h2>ОСНОВНІ СТРАВИ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/deserts">
          <img src="" class="deserts img-responsive" width="100%" alt="">
          <h2>ДЕСЕРТИ</h2>
        </a>
      </div>

    </div>
  </div>
  <br>
</div>
