<div id="types_of_menu_2" class="back">
  <div class="container-fluid text-center">
    <h1>МЕНЮ</h1><br>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="/appetizer">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>ЗАКУСКИ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/maindishes">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>ОСНОВНІ СТРАВИ</h2>
        </a>
      </div>

      <div class="col-sm-4">
        <a routerLink="/deserts">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <h2>ДЕСЕРТИ</h2>
        </a>
      </div>

    </div>
  </div>
  <br>
</div>
